@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gabarito';
  src: url('./assets/fonts/TitilliumWeb-SemiBold.ttf')
       format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Gabarito', sans-serif;
}
